:root {
  --bg-color: #161616;
  --text-color: #ffffff;
  --accent-color: rgba(255, 255, 255, 0.3);
  --font-main: "Syne", sans-serif;
  --fluid-font-size: clamp(40px, 7.25vw, 100px);
}

html,
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

.progressbar {
  background-color: rgba(255, 255, 255, 0.4);
  inline-size: 1px;
  inset-block-start: 0;
  inset-inline-start: 85%;
  position: fixed;
  z-index: 10;
}

.navigation-list {
  list-style: none;
  margin-block: 240px 200px;
  margin-inline-start: 100px;
}

.navigation-item {
  display: block;
  user-select: none;
}

.navigation-link {
  align-items: center;
  block-size: 260px;
  color: var(--accent-color);
  display: flex;
  font-family: var(--font-main);
  font-size: var(--fluid-font-size);
  font-weight: 800;
  line-height: 1;
  text-decoration: none;
  transition: color 300ms ease;
}

.navigation-item span {
  align-items: center;
  block-size: 100%;
  display: flex;
  inline-size: 100%;
  line-height: 1;
  position: relative;
}

.navigation-item span::before {
  align-items: center;
  block-size: 100%;
  color: var(--text-color);
  content: attr(data-text);
  display: flex;
  inline-size: 0;
  inset-block-start: 0;
  inset-inline-start: 0;
  overflow: hidden;
  position: absolute;
  transition: inline-size 300ms cubic-bezier(0.84, 0, 0.08, 0.99);
  white-space: nowrap;
}

.navigation-item span:hover::before {
  inline-size: 100%;
}

.project-preview-wrapper {
  display: flex;
  inset: 0;
  justify-content: center;
  pointer-events: none;
  position: fixed;
}

.project-preview {
  position: fixed;
  inset-block-start: 12%;
  inset-inline-start: 50%;
  transform: translateX(-50%);
  inline-size: 0;
  block-size: 400px;
  overflow: hidden;
  background-color: #222;
}

.project-preview img {
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

@media (width <= 1120px) {
  .progressbar {
    display: none;
  }

  .navigation-wrapper ul {
    margin-inline-start: 2rem;
  }

  a {
    margin-block: 60px;
  }
}

@media (width <= 520px) {
  .project-preview-wrapper {
    display: none;
  }

  a {
    margin-block: 30px;
  }
}
